    body {
        background-color: #0000000d;
    }

    * {
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .first-hr {
        box-shadow: 2px 5px 2px rgb(0, 0, 0);
    }

    hr {
        width: 97%;
        position: relative;
        left: 20px;
    }

    .second-hr {
        margin-bottom: 30px;
    }

    /* nav bar starts */

    nav {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .nav-top-header {
        background-color: rgb(7, 7, 11);
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px;

    }

    .nav-header-items {
        background-color: rgb(11, 11, 10);
        height: 100%;

    }



    /* First part of the nav header */

    .items1 {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }


    .logo-container {
        height: 100%;
        width: 100%;
        max-width: 150px;
    }

    .logo-container .location b,
    p {
        display: block;
    }

    .nav-items-border {
        border: solid 1.5px transparent;
        height: 100%;
    }

    .nav-items-border:hover {
        border: white solid 1.5px;
    }

    .logo-container img {
        height: 80%;
        width: 80%;
        object-fit: cover;
        position: relative;
        left: 15px;
        top: 5px;
    }

    .location {
        color: white;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .grey-in {
        color: #cccccc;
    }

    .location-in {
        width: auto;
    }

    .location-in b {
        margin-top: 5px;
    }

    /* Second part of the navigation header */


    .items2 {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .search-items {
        height: 100%;
    }

    .nav-items-1 {
        height: 40px;
    }

    .option-default {
        max-width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    option .option-one-top {
        font-weight: bolder;
        cursor: pointer;
    }

    .nav-items-2 {
        width: 100%;
        height: 40px;
    }

    .nav-items-3 i {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    .fa-search {
        color: white;
        background: rgb(220, 134, 6);
        width: 40px;
        height: 100%;
    }

    .fa-search:hover {
        background-color: rgb(255, 153, 0);
    }

    .fa-search:focus {
        font-size: large;
        color: black;
    }

    /* Third part of the navigation header */
    .items3 {
        width: 30%;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .item3-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }


    .language-name select {
        background-color: rgb(11, 11, 10);
        border: none;
        color: white;
        font-weight: 800;

    }



    .sign-nav,
    .orders-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .upper-sign-nav {
        font-size: 0.8rem;
    }

    .lower-sign-nav {
        font-weight: bolder;
    }

    aside.nav-bottom-header {
        background-color: rgb(27, 56, 75);
        height: 45px;
        width: 100%;
    }

    .cart {
        display: flex;
        gap: 5px;
    }

    .cart-icon {
        font-size: 1.5rem;
    }

    .cart:hover {
        font-size: large;
    }



    /* below nav bar  */
    aside {}

    .nav-bottom-header {
        color: white;
        display: flex;
        align-items: center;

    }

    .nav-bottom-box {
        border: solid 1.5px transparent;
        width: auto;
        margin: 8px;
        padding: 4px 6px;
    }

    .nav-bottom-box:hover {
        border: solid white 1.5px;
    }

    .menu-bar {
        display: flex;
        gap: 8px;
        align-items: center;

    }

    .fa-bars {
        font-size: 1.5rem;
    }



    /* secton first shop now */

    .shop-now-first {
        height: 100px;
        width: 90%;
        margin-top: 15px;
        position: relative;
        right: 60px;
        left: 60px;
        background-color: rgb(59, 111, 59);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
        z-index: -1;

    }

    .category {
        margin: 20px 20px 10px 30px;
        height: 250px;
    }

    .category-head {
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(44, 43, 43);
        margin-bottom: 20px;


    }

    .category-items {
        display: flex;
        justify-content: space-evenly;
        height: 90%;
        width: auto;
    }

    .shop-gift-category {
        height: 200px;
        width: 20%;
    }

    .shop-category-img {
        height: 80%;
        width: 90%;
        object-fit: contain;
        box-shadow: 10px 3px 6px rgb(115, 115, 115);
        border-radius: 6px;
    }

    .shop-category-img img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    .shop-category-title {
        margin-top: 5px;
        color: rgb(51, 50, 50);
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .price-category {
        height: 100px;
        text-indent: 3rem;
    }


    .shop-by-price {
        margin-bottom: 5px;
        text-indent: 15px;
    }

    .items-general-price {
        margin-left: 30px;
        height: 90%;
        width: auto;
        display: flex;
        align-items: center;
    }

    .price-general {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
    }

    .price-general button {
        height: 50px;
        width: 90%;
        background-color: rgb(41, 72, 41);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .price-general a {
        color: white;
    }

    .second-category {
        margin-top: 60px;
    }

    /* Third section */
    .grid-layout-first {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 20px;
        column-gap: 20px;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.134);

    }

    .grid-first {
        width: auto;
        height: 25rem;
        background: rgb(255, 255, 255);

    }

    .grid-first h1 {
        margin-bottom: 20px;
        text-indent: 20px;
        margin-top: 5px;
    }

    .first-box-grid {
        margin-top: 15px;
    }

    .inside-first-box-grid1 {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }

    .image-inside-grid {
        height: 100px;
        width: 170px;
        object-fit: contain;
        box-shadow: 3px 3px 5px #808488;

    }

    .image-inside-grid img {
        height: 100%;
        width: 100%;
    }

    .one-grid p,
    .second-grid p {
        margin-top: 5px;
        color: rgb(86, 85, 85);
    }

    .inside-first-box-grid {
        text-indent: 14px;
        width: 100%;


    }

    .inside-first-box-grid a {
        color: rgb(255, 0, 0);
        font-size: bold;
        text-decoration: underline;

    }

    .back-to-top {
        height: 30px;
        width: auto;
        background: #4570a4;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 700;
        font-size: 1rem;
    }

    footer {
        height: 400px;
        width: auto;
        background-color: #232f3e;
    }

    .footer-first {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        height: 50%;
        margin-top: 50px;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
    }

    .footer-header {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: larger;
        color: white;
        text-decoration: underline 2px dotted;

    }

    .footer-box a {
        color: white;
        font-size: small;
    }

    .footer-box a:hover {
        text-decoration: underline 2px;
        transition: 2s;
        animation-name: hover_footer;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }

    @keyframes hover_footer {
        from {
            text-decoration-color: white;
        }

        to {
            text-decoration-color: rgb(17, 7, 107);
        }

    }

    .footer-second {
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .footer-second p {
        margin-bottom: 10px;
    }

    .footer-icon {
        display: flex;
        gap: 15px;
    }

    .footer-icon i {
        background: rgb(255, 255, 255);
        padding: 3px;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgb(212, 212, 212);
        border: 3px solid rgb(253, 253, 253);
    }